/* styles.css */
/* Hex Colors
#1C1F26
#232A40
#142033
#314366
#C5CEE6
*/
html, body {
    height: 100%;
    margin: 0;
}

.body-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 100%;
}

.sidebar {
    background-color: #142033;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

#project-view {
    padding-left: 1vh;
    background-color: #314366;
}

#sidebar-functions {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: center;
}

#sidebar-header {
    margin: 1vh;
    color: aliceblue;
    font-family: sans-serif;
    font-size: 3vh;
}

#sidebar-functions > button {
    margin-inline: 3vh;
    background-color: #C5CEE6;
    font-family: sans-serif;
    font-size: 1.5vh;
    border-style: none;
    border-radius: 1vh;
    height: 3vh;
    width: 14vh;
}

#sidebar-functions > button:hover {
    background-color: #a7afc5;
}

#todo-list > section > h3 {
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-family: sans-serif;
}

#todo-list > section > ul {
    list-style-type: "- ";
    font-family: sans-serif;
    color: aliceblue;
    font-size: 1.75vh;
}

#project-header {
    color: aliceblue;
}

#project-body {
    display: grid;
    grid-template-columns: 1fr;
}

#project-body > .todo-item {
    margin-left: .5vh;
}

.todo-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-header > div {
    display: flex;
    gap: 2vh;
    padding-right: 2vh;
}

.todo-priority {
    border-style: solid;
    border-radius: 5px;
    margin: 0;
    width: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-body {
    display: flex;
    flex-direction: column;
    gap: .5vh;
}

.new-checkbox-btn {
    background-color: #81a0f5;
    border-style: none;
    border-radius: 5px;
    height: 4vh;
    width: 9vh;
}

.new-checkbox-btn:hover {
    background-color: #678bec;
}

.checklist-row {
    border-bottom: solid;
    border-width: thin;
}

.checklist-text {
    border: none;
    background-color: #314366;
    border-radius: .2vh;
    color: aliceblue;
}