/* styles.css */
html, body {
    height: 100%;
    margin: 0;
}

.body-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100%;
}

.sidebar {
    border-style: solid;
    border-color: red;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

#project-view {
    margin-left: 1vh;
}

#sidebar-functions {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

#sidebar-header {
    margin: 1vh;
}

#sidebar-functions > button {
    margin-inline: 3vh;
}

#project-list > section > h3 {
    display: flex;
    justify-content: center;
}

#project-list > section > ul {
    list-style-type: none;
}

#project-body {
    display: grid;
    grid-template-columns: 1fr;
}

#project-body > .todo-item {
    border: solid;
    border-color: aqua;
    margin-left: .5vh;
}

.todo-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-header > div {
    display: flex;
    gap: 2vh;
    padding-right: 2vh;
}

.todo-priority {
    background-color: red;
    border-radius: 5px;
    margin: 0;
    width: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-body {
    display: flex;
    flex-direction: column;
    gap: .5vh;
}

.new-checkbox-btn {
    background-color: #81a0f5;
    border-style: none;
    border-radius: 5px;
    height: 4vh;
    width: 9vh;
}

.new-checkbox-btn:hover {
    background-color: #678bec;
}